<div class="main__membar-wrapper">
  <h2>会員登録</h2>
  <p class="main__membar-txt01">現在、何知会員 事前登録を受け付けております。<br>
「継なぐ」をテーマに日本の暮らし、<br>
文化継承に共感いただける方の応援を<br class="display_pc">お待ちしております。<br>
</p>
  <a class="btn_membar" href="{{ routes.root_url }}account/register">
  <span class="btn_register">事前登録する</span>
  <span class="arrow"><img class="" src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/Vector_4.png?v=1726731741"></span>
  </a>
  <p class="main__membar-txt02">※現在、登録は無料です。<br>
※会員プログラムについては構築中です。</p>
</div>
{% schema %}
  {
    "name": "会員登録",
    "tag": "section",
    "class": "section",
    "settings": [],
      "presets": [
    {
      "name": "会員登録"
    }
        ]
  }
{% endschema %}