<div class="main__instagram-wrapper">
  <img class="main__instagram-icon" src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/instagram.png?v=1726731741">
  <h2>Instagram</h2>
  <div class="btn_instagram_wrapper">
      <a class="btn_instagram" href="{{ routes.root_url }}account/register">
        <p class="btn_register">何知<br>ka_chi.jp
          <span class="arrow"><img class="" src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/Vector_4.png?v=1726731741"></span>
        </p>
      </a>
      <a class="btn_instagram" href="{{ routes.root_url }}account/register">
        <p class="btn_register">何知 百価<br>store.ka_chi.jp
          <span class="arrow"><img class="" src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/Vector_4.png?v=1726731741"></span>
        </p>
      </a>
  </div>

</div>
{% schema %}
  {
    "name": "インスタグラム",
    "tag": "section",
    "class": "section",
    "settings": [],
      "presets": [
    {
      "name": "インスタグラム"
    }
        ]
  }
{% endschema %}