<div class="main__instagram-wrapper">
  <img class="main__instagram-icon" src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/instagram.png?v=1726731741">
  <h2>Instagram</h2>
  <div class="btn_instagram_wrapper">
      <div class="btn_instagram">
        <a class="btn_register" href="{{ routes.root_url }}account/register">事前登録する
          <span class="arrow">→</span>
        </a>
      </div>
      <div class="btn_instagram">
        <a class="btn_register" href="{{ routes.root_url }}account/register">事前登録する
          <span class="arrow">→</span>
        </a>
      </div>
  </div>

</div>
{% schema %}
  {
    "name": "インスタグラム",
    "tag": "section",
    "class": "section",
    "settings": [],
      "presets": [
    {
      "name": "インスタグラム"
    }
        ]
  }
{% endschema %}