<div class="main__top-wrapper">
  <h1>何知</br>百価</h1>
  <h2>モノゴトの本質を知り、届ける。</h2>
  <p>継なぎ手の方の想いを、この場に込めています。<br>
一つでも手に取っていただき、<br>
その想いに少しでも共感し、応援してもらえたら。<br>
<br>
私たちはその体験価値を届けます。</p>
  <img src="https://cdn.shopify.com/s/files/1/0721/1879/6544/files/1.png?v=1726622656">
</div>
{% schema %}
  {
    "name": "トップタイトル",
    "tag": "section",
    "class": "section",
    "settings": [],
      "presets": [
    {
      "name": "トップタイトル"
    }
        ]
  }
{% endschema %}